# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.env/
.venv/
venv/

# uv
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo

# Output
/output/

# ZenML
.zen/
